<!--# ルーティング	:リンク生成メソッドの使用例	:生成されるリンク-->
<!--# index       	:tasks_path	                :/tasks-->
<!--# show        	:task_path(@task)         	:/tasks/1 など-->
<!--# new	          :new_task_path	            :/tasks/new-->
<!--# edit	        :edit_task_path(@task)      :/tasks/1/edit など-->

<h1>タスク一覧</h1>

<% if !@tasks.nil? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <!-- [link_to 表示文字列, リンク先] のリンク先が値の場合は showアクション-->
          <td><%= link_to task.id, task %></td>
          <td>
            <% case task.status
                when "unexecuted" %>
              未実施
            <% when "progress" %>
              実施中
            <% when "done" %>
              完了
            <% end %>
          </td>
          <td><%= task.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
<% end %>

<%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>