<!--# ルーティング	:リンク生成メソッドの使用例	:生成されるリンク-->
<!--# index       	:tasks_path	                :/tasks-->
<!--# show        	:task_path(@task)         	:/tasks/1 など-->
<!--# new	          :new_task_path	            :/tasks/new-->
<!--# edit	        :edit_task_path(@task)      :/tasks/1/edit など-->

<h1>id: <%= @task.id %> のタスク編集ページ</h1>

<%= render 'form', task: @task %>
